@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --colo-blue-dark: #01436C;
}

body {
  font-family: 'Poppins', sans-serif;
}

.para {
  font-size: var(--font-18);
  color: var(--color-2b2b2b);
}

.mw-1144 {
  max-width: 1144px;
}

.mw-270 {
  max-width: 270px;
}

.bg-blue-light {
  background-color: var(--color-086dac);
}

.bg-blue-dark {
  background-color: var(--colo-blue-dark);
}

.main-heading {
  font-weight: 700;
  font-size: var(--font-65);
  color: var(--color-fff);
}

.footer-heading {
  font-size: var(--font-22);
  font-weight: 700;
  color: var(--color-fff);
}

.footer-para {
  font-size: var(--font-18);
  font-weight: 500;
  color: var(--color-fff) !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.cursor-pointer {
  cursor: pointer;
}