@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-CEE2EE: #CEE2EE;
    --font-24: 24px;
    --font-28: 28px;
    --font-16: 16px;
}

.nav-bg {
    background-color: var(--color-086dac);
}

.Anfrage-btn {
    font-weight: 700;
    font-size: var(--font-18);
    color: var(--color-086dac);
    padding: 19px 42px;
    background-color: var(--color-fff);
    border: 2px solid var(--color-fff);
    transition: all 0.4s ease-in-out;
}

.Anfrage-btn:hover {
    color: var(--color-fff);
    background-color: var(--color-086dac);
}

.navbar-light .navbar-toggler-icon {
    background-image: none !important;
}

.nav-li-text {
    font-size: var(--font-18);
    font-weight: 500;
    color: var(--color-CEE2EE) !important;
}

.nav-li-text:hover {
    color: var(--color-fff) !important;
}

.nav-item .active {
    font-weight: bold;
    color: var(--color-fff) !important;
}

.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}

.navbar-toggler:focus {
    color: transparent;
    border-color: transparent;
}

.me-23 {
    margin-right: 23px;
}

.hero-section-bg-img {
    background-image: url('../img/Hero-common-section-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-section-subheading {
    font-weight: 600;
    font-size: var(--font-24);
    color: var(--color-fff);
}

.main-heading {
    font-weight: 700;
    font-size: var(--font-65);
    color: var(--color-fff);
}

@media (max-width: 576px) {
    :root {
        --font-65: 26px !important;
        --font-24: 16px;
    }
}

@media (min-width: 576px) {
    .nav-logo-padding {
        padding: 41px 87px !important;
    }
}

@media (min-width: 1600px) {
    .me-xl-63 {
        margin-right: 63px;
    }
}