body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #2b2b2b;
}

.bg-black {
  background: #2b2b2b;
}

.bottom-info-container {
  height: 100px;
  width: 55%;
  position: relative;
}

.bottom-info {
  background: #086dac;
  font-size: 20px;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.thumbnail-container {
  position: absolute;
  width: 130%;
  height: 300px;
  right: 0px;
  overflow: hidden;
}

.track {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.track .thumbnail img {
  height: 152px;
  width: 210px;
  transition: 0.2s ease-in-out;
  border-radius: 1em;
}

.track .thumbnail:hover img {
  cursor: pointer;
}

.numbers {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
}

.numbers a {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid black;
  padding-bottom: 0px;
  transition: 0.2s linear;
  text-decoration: none;
  color: #2b2b2b;
  padding-inline: 5px;
  font-weight: bold;
}

.numbers a.active {
  font-size: 80px;
  font-weight: bold;
  border-bottom: none;
  margin-inline: 10px;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-image-container {
  height: 770px;
}

.slick-slider {
  margin-bottom: 0 !important;
}

.thumbnail.slick-current.slick-active {
  display: none;
}

.heading-large {
  font-size: 65px;
  font-weight: bold;
}

.info {
  font-size: 20px;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
