@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.body {
  font-family: "Poppins", sans-serif;
}

:root {
  --color-086dac: #086dac;
  --color-fff: #ffff;
  --color-000: #000;
  --colo-blue-dark: #01436c;

  --color-707070: #707070;
  --color-e31919: #e31919;
  --color-c6c6c6: #c6c6c6;
  --color-2b2b2b: #2b2b2b;
  --color-CEE2EE: #cee2ee;
  --font-24: 24px;
  --font-63: 63px;
  --font-28: 28px;
  --font-16: 16px;
  --font-18: 18px;
  --font-65: 65px;
  --font-20: 20px;
  --font-22: 22px;
  --font-80: 80px;
  --font-42: 42px;
  --font-44: 44px;
}

@media (min-width: 768px) and (max-width: 992px) {
  :root {
    --font-18: 16px;
    --font-65: 55px;
    --font-20: 18px;
    --font-22: 20px;
    --font-42: 37px;
    --font-44: 39px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  :root {
    --font-18: 15px;
    --font-65: 45px;
    --font-20: 16px;
    --font-22: 18px;
    --font-42: 34px;
    --font-44: 35px;
  }
}

@media (max-width: 576px) {
  :root {
    --font-18: 14px;
    --font-65: 30px;
    --font-20: 14px;
    --font-22: 16px;
    --font-42: 28px;
    --font-44: 30px;
  }
}

/* NAVBAR CSS */
.nav-bg {
  background-color: var(--color-086dac);
}

.Anfrage-btn {
  font-weight: 700;
  font-size: var(--font-18);
  color: var(--color-086dac);
  padding: 19px 42px;
  background-color: var(--color-fff);
  border: 2px solid var(--color-fff);
  transition: all 0.4s ease-in-out;
}

.Anfrage-btn:hover {
  color: var(--color-fff);
  background-color: var(--color-086dac);
}

.nav-li-text {
  font-size: var(--font-18);
  font-weight: 500;
  color: var(--color-CEE2EE) !important;
}

.nav-li-text:hover {
  color: var(--color-fff) !important;
}

.nav-item .active {
  font-weight: bold;
  color: var(--color-fff) !important;
}

.navbar-light .navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler:focus {
  color: transparent;
  border-color: transparent !important;
}

.me-24 {
  margin-right: 24px;
}

.hero-section-bg-img {
  background-image: url("../img/Hero-common-section-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section-subheading {
  font-weight: 600;
  font-size: var(--font-24);
  color: var(--color-fff);
}

.main-heading {
  font-weight: 700;
  font-size: var(--font-65);
  color: var(--color-fff);
}

.cards-paddings {
  padding: 50px 40px;
  background-color: var(--color-086dac);
}

.card-heading {
  font-weight: bold;
  font-size: var(--font-28);
  color: var(--color-fff);
}

.card-subheading {
  font-weight: bold;
  font-size: var(--font-22);
  color: var(--color-fff);
}

.card-line::after {
  content: "";
  position: absolute;
  width: 55px;
  height: 3px;
  background-color: var(--color-fff);
  display: flex;
  flex-direction: column-reverse;
}

.card-para {
  font-weight: 500;
  font-size: var(--font-16);
  color: var(--color-fff);
}

.slick-list {
  padding-bottom: 100px;
}

@media (max-width: 576px) {
  :root {
    --font-65: 26px !important;
    --font-24: 16px;
  }
}

@media (min-width: 576px) {
  .nav-logo-padding {
    padding: 41px 87px !important;
  }
}

@media (min-width: 1600px) {
  .me-xl-63 {
    margin-right: 63px;
  }
}

/* MUSKAN CSS */
.Qualität-heading {
  font-size: var(--font-65);
  font-weight: 700;
  color: var(--color-2b2b2b);
}

.Qualität-paragraph {
  color: var(--color-2b2b2b);
  font-size: var(--font-18);
}

@media (min-width: 1400px) {
  .container-width {
    max-width: 1562px !important;
  }
}

/* CAROUSEL SECTION */
.carousel-bg {
  background-color: var(--color-086dac);
}

.Einen-heading {
  font-size: var(--font-42);
  font-weight: 700;
}

.Interior-paragraph {
  font-size: var(--font-18);
}

@media (min-width: 991px) {
  .carousel-img {
    height: 300px;
    width: 337px !important;
  }
}

.carousel-img {
  width: 100%;
}

/* second */
.carousel-second-bg {
  background-color: var(--color-2b2b2b);
}

/* NOCH NICHT SECTION */
.noch-bg {
  background-color: var(--color-2b2b2b);
}

.number-text {
  font-size: var(--font-44);
}

.noch-nicht-text {
  font-size: var(--font-65);
}

@media (min-width: 567px) {
  .phn-icon {
    height: 80px !important;
    width: 80px !important;
  }
}

.phn-icon {
  height: 68px;
  width: 70px;
}

/* unsere-heading */
.unsere-heading {
  color: var(--color-2b2b2b);
  font-size: var(--font-42);
}

@media (min-width: 1400px) {
  .house-img {
    width: 653px !important;
    height: 445px;
  }
}

.house-img {
  width: 100%;
}

.mehr-text {
  color: var(--color-086dac);
  font-size: var(--font-20);
}

.carousel-arrow-icon {
  border: 0px;
  background-color: var(--color-2b2b2b);
}

/* FOOTER CSS */
.para {
  font-size: var(--font-18);
  color: var(--color-2b2b2b);
}

.mw-1144 {
  max-width: 1144px;
}

.mw-270 {
  max-width: 270px;
}

.bg-blue-light {
  background-color: var(--color-086dac);
}

.bg-blue-dark {
  background-color: var(--colo-blue-dark);
}

.main-heading {
  font-weight: 700;
  font-size: var(--font-65);
  color: var(--color-fff);
}

.footer-heading {
  font-size: var(--font-22);
  font-weight: 700;
  color: var(--color-fff);
}

.footer-para {
  font-size: var(--font-18);
  font-weight: 500;
  color: var(--color-fff) !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.cursor-pointer {
  cursor: pointer;
}

/* DEEPAK SIR */
@media (min-width: 768px) and (max-width: 992px) {
  :root {
    --font-18: 16px;
    --font-65: 55px;
    --font-20: 18px;
    --font-22: 20px;
    --font-42: 37px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  :root {
    --font-18: 15px;
    --font-65: 45px;
    --font-20: 16px;
    --font-22: 18px;
    --font-42: 34px;
  }
}

@media (max-width: 576px) {
  :root {
    --font-18: 14px;
    --font-65: 30px;
    --font-20: 14px;
    --font-22: 16px;
    --font-42: 28px;
  }
}

.fs-42 {
  font-size: var(--font-42);
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 700;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fs-18 {
  font-size: var(--font-18);
}

.fs-20 {
  font-size: var(--font-20);
}

.fs-28 {
  font-size: var(--font-28);
}

.bg-086dac {
  background-color: var(--color-086dac);
}

.pl-130 {
  padding-left: 130px !important;
}

/* Defines the width of the carousel and centers it on the page */
.slick-carousel {
  margin: 0 auto;
  width: 1000px;
}

/* The width of each slide */
.slick-slide {
  width: 350px;
  transition: 0.2s all;
}

/* Color of the arrows */
.slick-next::before,
.slick-prev::before {
  color: blue;
}

.slick-active img {
  width: 100%;
  transition: 0.2s all;
  /* transform: ; */
  /* filter: blur(3px); */
}

.slick-current img {
  width: 100%;
  transition: 0.2s all;
  /* filter: blur(0px); */
  /* transform: scale(1.5) !important; */
}

.city-name-bg {
  margin-top: -35px;
  position: relative;
  z-index: 2;
}

.pr-0 {
  padding-right: 0px;
}

.city-name-bg p {
  background-color: var(--color-fff);
  width: 262px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeNumber span {
  display: inline-block;
  height: 100%;
  border-bottom: 1px solid white;
  font-size: var(--font-18);
  font-weight: 700;
}

.isActive {
  /* transition: .06s; */
  font-size: var(--font-80) !important;
  border-bottom: unset !important;
}

.img-width img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 991px) {
  .img-width {
    width: 647px !important;
  }
}

.arrow-icon {
  border: 0px;
  background-color: var(--color-086dac);
}

.ml-60 {
  margin-left: 60px;
}

.mr-60 {
  margin-right: 60px;
}

.max-w-text {
  max-width: 346px;
}

.max-w-para {
  max-width: 418px;
}

.unsere-garagen .slick-dots {
  display: none !important;
}

@media (max-width: 1200px) {
  .max-w-text {
    max-width: unset;
  }

  .max-w-text {
    max-width: unset;
  }
}

@media (max-width: 991.98px) {
  .pl-md-0 {
    padding-left: 15px !important;
  }
}

@media (max-width: 575.98px) {
  .fs-sm-25 {
    font-size: var(--font-25);
  }

  .isActive {
    font-size: var(--font-35) !important;
  }

  .city-name-bg p {
    font-size: var(--font-18);
    width: 120px;
    height: 33px;
  }

  .city-name-bg {
    margin-top: -17px;
  }

  .arrow-icon svg {
    width: 15px;

    height: 15px;
  }

  .ml-sm-20 {
    margin-left: 20px;
  }
}

/* TISHA MAM */
.mw-1166 {
  max-width: 1166px;
}

.mw-1148 {
  max-width: 1148px;
}

.mw-234 {
  max-width: 234px;
}

.mw-270 {
  max-width: 270px;
}

.color-086dac {
  color: var(--color-086dac) !important;
}

.color-fff {
  color: var(--color-fff) !important;
}

.color-000 {
  color: var(--color-000) !important;
}

.color-707070 {
  color: var(--color-707070) !important;
}

.color-e31919 {
  color: var(--color-e31919) !important;
}

.color-c6c6c6 {
  color: var(--color-c6c6c6) !important;
}

.color-2b2b2b {
  color: var(--color-2b2b2b) !important;
}

.bg-2b2b2b {
  background: var(--color-2b2b2b) !important;
}

.heading {
  font-weight: 700;
  font-size: var(--font-63);
}

.para {
  font-weight: 400;
  font-size: var(--font-18);
}

.form-heading {
  font-weight: 700;
  font-size: var(--font-42);
}

.address-heading {
  font-weight: 700;
  font-size: var(--font-22);
}

.address-para {
  font-weight: 500;
  font-size: var(--font-18);
}

.submit-btn {
  font-weight: 700;
  font-size: var(--font-18);
  color: var(--color-fff);
  border: 1px solid var(--color-086dac);
  background: var(--color-086dac);
  padding: 20px 45px;
  transition: all 0.3s ease-in;
}

.submit-btn:hover {
  color: var(--color-086dac);
  border: 1px solid var(--color-086dac);
  background: var(--color-fff);
}

input {
  border: 4px solid var(--color-fff);
  background: var(--color-2b2b2b);
}

input:focus-visible {
  box-shadow: none;
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}

input[type="text"] {
  color: var(--color-fff);
}

input[type="email"] {
  color: var(--color-fff);
}

::placeholder {
  color: var(--color-c6c6c6) !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  :root {
    --font-22: 19px;
  }
}

@media (min-width: 992px) {
  .mw-547 {
    max-width: 547px;
  }
}

/* RAVI SIR */
.schon-ab {
  font-size: var(--font-42);
  color: var(--color-2b2b2b);
  font-weight: 700;
}

.stahlgarage-default-btn {
  background: #086dac 0% 0% no-repeat padding-box;
  opacity: 1;
  color: var(--color-fff);
  font-weight: 700;
  font-size: var(--font-18);
  margin-right: 12px;
}

/* Stahlgarage & Stahlcarport END */
.number-button {
  background-color: #086dac !important;
  font-size: var(--font-18);
  border: 1px solid #086dac;
  transition: all 0.3s ease-in;
}
.number-button:hover {
  background-color: white !important;
  border: 1px solid white;
  color: #086dac !important;
}
.number-button:hover svg path {
  fill: #086dac;
}
.number-button2 {
  background-color: white;
  color: #086dac;
  font-size: var(--font-18);
  border: 1px solid white;
  transition: all 0.3s ease-in;
}
.number-button2:hover {
  background-color: #086dac !important;
  border: 1px solid #086dac;
  color: white !important;
}

.phone-img {
  width: 20px;
  height: 20px;
}

/* Fertiggaragen & Carports */
/* Stahlgarage & Stahlcarport */

@media (max-width: 575.98px) {
  .Stahlgarage {
    padding: 18px;
  }
}

@media (min-width: 768px) {
  .Stahlgarage {
    padding: 50px;
  }
}

.ml-xxl-90 {
  margin-left: 90px;
}

.Stahlgarage {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000031;
  opacity: 1;
}

.head-card-stahlgarage {
  color: var(--color-2b2b2b);
  font-size: var(--font-42);
  font-weight: 700;
}

.sub-head-card-stahlgarage {
  color: var(--color-086dac);
  font-size: var(--font-22);
  font-weight: 600;
}

.component-stahlgarage {
  font-size: var(--font-18);
  color: var(--color-2b2b2b);

  font-weight: 400;
}

.schon-ab {
  font-size: var(--font-42);
  color: var(--color-2b2b2b);
  font-weight: 700;
}

.stahlgarage-default-btn {
  background: #086dac 0% 0% no-repeat padding-box;
  opacity: 1;
  color: var(--color-fff);
  font-weight: 700;
  font-size: var(--font-18);
  margin-right: 12px;
}

.number-image {
  left: -165px;
  bottom: -61px !important;
}

.number-image2 {
  left: 0px;
  bottom: -40px !important;
}

/* Stahlgarage & Stahlcarport END */

/* Fertiggaragen & Carports */

@media (min-width: 1400px) {
  .mleft-70 {
    margin-left: -70px;
  }

  .mar-right-70 {
    margin-right: -70px;
  }

  .pleft-130 {
    padding-left: 130px !important;
  }

  .mleft-90 {
    margin-left: 90px;
  }

  .mright-90 {
    margin-right: 90px;
  }

  .mar-right-90 {
    margin-right: 90px;
  }
}

@media (max-width: 1199.98px) {
}

.z-index-2 {
  z-index: 2;
}

.bg-0000 {
  background-color: var(--color-000);
}

/* Defines the width of the carousel and centers it on the page */
.slick-carousels {
  margin: 0 auto;
  width: 1000px;
}

.activeNumber {
  font-size: 40px;
}

.pr-0 {
  padding-right: 0px;
}

.activeNumber span {
  display: inline-block;
  height: 100%;
  font-size: var(--font-18);
  font-weight: 700;
}

.isActive {
  /* transition: .06s; */
  font-size: 80px !important;
  border-bottom: unset !important;
}

.isActive span {
  border-bottom: 1px solid black;
}

.image-width img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mleft-60 {
  margin-left: 60px;
}

.unsere-garagen-carousel-dot .slick-dots {
  display: none !important;
}

@media (max-width: 991.98px) {
  .pl-md-0 {
    padding-left: 15px !important;
  }
}

@media (max-width: 575.98px) {
  .fs-sm-25 {
    font-size: var(--font-25);
  }

  .isActive {
    font-size: var(--font-35) !important;
  }

  .asActive {
    font-size: var(--font-35) !important;
  }

  .anActive {
    font-size: var(--font-35) !important;
  }
}

.asActiveNumber {
  font-size: 40px;
}

.asActiveNumber span {
  display: inline-block;
  height: 100%;
  border-bottom: 1px solid black;
  font-size: var(--font-18);
  font-weight: 700;
}

.asActive {
  /* transition: .06s; */
  font-size: 80px !important;
  border-bottom: unset !important;
}

.anActiveNumber {
  font-size: 40px;
}

.anActiveNumber span {
  display: inline-block;
  height: 100%;
  border-bottom: 1px solid black;
  font-size: var(--font-18);
  font-weight: 700;
}

.anActive {
  /* transition: .06s; */
  font-size: 80px !important;
  border-bottom: unset !important;
}

/* Fertiggaragen & Carports */
/* ravi sir */
/* Stahlgarage & Stahlcarport */

@media (max-width: 575.98px) {
  .Stahlgarage {
    padding: 18px;
  }
}

@media (min-width: 768px) {
  .Stahlgarage {
    padding: 50px;
  }
}

.ml-xxl-90 {
  margin-left: 90px;
}

.Stahlgarage {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000031;
  opacity: 1;
}

.head-card-stahlgarage {
  color: var(--color-2b2b2b);
  font-size: var(--font-42);
  font-weight: 700;
}

.sub-head-card-stahlgarage {
  color: var(--color-086dac);
  font-size: var(--font-22);
  font-weight: 600;
}

.component-stahlgarage {
  font-size: var(--font-18);
  color: var(--color-2b2b2b);

  font-weight: 400;
}

.schon-ab {
  font-size: var(--font-42);
  color: var(--color-2b2b2b);
  font-weight: 700;
}

.stahlgarage-default-btn {
  background: #086dac 0% 0% no-repeat padding-box;
  opacity: 1;
  color: var(--color-fff);
  font-weight: 700;
  font-size: var(--font-18);
  margin-right: 12px;
}

/* Stahlgarage & Stahlcarport END */

/* Fertiggaragen & Carports */

@media (min-width: 1400px) {
  .mleft-70 {
    margin-left: -70px;
  }

  .mar-right-70 {
    margin-right: -70px;
  }

  .pleft-130 {
    padding-left: 130px;
  }

  .mleft-90 {
    margin-left: 90px;
  }

  .mright-90 {
    margin-right: 90px;
  }

  .mar-right-90 {
    margin-right: 90px;
  }
}

@media (max-width: 1199.98px) {
}

.z-index-2 {
  z-index: 2;
}

.bg-0000 {
  background-color: var(--color-000);
}

/* Defines the width of the carousel and centers it on the page */
.slick-carousels {
  margin: 0 auto;
  width: 1000px;
}

.activeNumber {
  font-size: 40px;
}

.pr-0 {
  padding-right: 0px;
}

.activeNumber span {
  display: inline-block;
  height: 100%;

  font-size: var(--font-18);
  font-weight: 700;
}

.isActive {
  /* transition: .06s; */
  font-size: 80px !important;
  border-bottom: unset !important;
}

.image-width img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mleft-60 {
  margin-left: 60px;
}

.unsere-garagen-carousel-dot .slick-dots {
  display: none !important;
}

@media (max-width: 991.98px) {
  .pl-md-0 {
    padding-left: 15px !important;
  }
}

@media (max-width: 575.98px) {
  .fs-sm-25 {
    font-size: var(--font-25);
  }

  .isActive {
    font-size: var(--font-35) !important;
  }

  .asActive {
    font-size: var(--font-35) !important;
  }

  .anActive {
    font-size: var(--font-35) !important;
  }
}

.asActiveNumber {
  font-size: 40px;
}

.asActiveNumber span {
  display: inline-block;
  height: 100%;

  font-size: var(--font-18);
  font-weight: 700;
}

.asActive {
  /* transition: .06s; */
  font-size: 80px !important;
  border-bottom: unset !important;
}

.anActiveNumber {
  font-size: 40px;
}

.anActiveNumber span {
  display: inline-block;
  height: 100%;

  font-size: var(--font-18);
  font-weight: 700;
}

.anActive {
  /* transition: .06s; */
  font-size: 80px !important;
  border-bottom: unset !important;
}

/* kunden */
.Kunden-text {
  color: #000;
  font-size: var(--font-42);
}

.card-bg {
  background-color: var(--color-086dac);
}

.familie-text {
  font-size: var(--font-28);
}

.Schnelle-text {
  font-size: var(--font-22);
}

.Wir-text {
  font-size: var(--font-16);
  font-weight: 500;
}

.carousel .multiple-items {
  margin-top: 70px;
  margin-bottom: 133px !important;
}

.carousel .slick-dots li button:before {
  font-size: 7px;
  color: white;
  border: 2px solid black !important;
  border-radius: 50%;
  opacity: unset !important;
}

.carousel .slick-dots {
  bottom: -60px;
}

.border-bottom {
  border: 3px solid white;
  height: 0px;
  width: 60px;
  border-radius: 10px;
}

.carousel .slick-dots li.slick-active button:before {
  font-size: 7px;
  color: white;
  border: 2px solid black !important;
  border-radius: 50%;
}

.Weitere-text {
  font-weight: 600;
  font-size: var(--font-18);
  color: var(--color-086dac);
}

/* ravi designer */

.bg-black {
  background: #2b2b2b;
}

@media (min-width: 991px) {
  .bottom-info-container {
    height: 104px;
  }
}

.bottom-info-container {
  width: 55%;
}

.bottom-info {
  background: #086dac;
  font-size: 20px;
  color: white;
  text-align: center;
  bottom: 0;
}

@media (min-width: 991px) {
  .thumbnail-container {
    width: 130%;
    right: 0px;
    overflow: hidden;
  }
}

.thumbnail-container {
  right: 0px;
  overflow: hidden;
}

.track {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.track .thumbnail img {
  height: 152px;
  width: 210px;
  transition: 0.2s ease-in-out;
  border-radius: 1em;
}

.track .thumbnail:hover img {
  cursor: pointer;
}

.numbers {
  bottom: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
}

.numbers a {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid black;
  padding-bottom: 0px;
  transition: 0.2s linear;
  text-decoration: none;
  color: #2b2b2b;
  padding-inline: 5px;
  font-weight: bold;
}

.numbers a.active {
  font-size: 80px;
  font-weight: bold;
  border-bottom: none;
  margin-inline: 10px;
}

.numbers a:hover {
  color: #000 !important;
}

.main-image {
  width: 100%;
  height: 815px;
  object-fit: cover;
}

@media (max-width: 576px) {
  .main-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.main-image-container {
  height: 770px;
}

.slick-slider {
  margin-bottom: 0 !important;
}

.thumbnail.slick-current.slick-active {
  display: none;
}

.heading-large {
  font-size: 65px;
  font-weight: bold;
}

.info {
  font-size: 20px;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 1600px) {
  .track .thumbnail img {
    width: 170px;
    height: 120px;
  }
}

@media only screen and (max-width: 1422px) {
  .content {
    padding-top: 0 !important;
  }
}

@media only screen and (min-width: 992.98px) {
  .position-lg-absolute {
    position: absolute;
  }
}

@media only screen and (max-width: 992.98px) {
  .bottom-info-container {
    width: 100%;
    margin-top: 2rem;
  }

  .bg-black {
    background: transparent;
  }
}

@media only screen and (max-width: 768.98px) {
  .thumbnail-container {
    display: block;
  }

  .bottom-info-container {
    width: 100%;
    margin-top: 2rem;
  }

  .bg-black {
    background: transparent;
  }
}

@media only screen and (max-width: 576.98px) {
  .main-image-container {
    height: 300px;
  }

  .heading-large {
    font-size: 36px;
    font-weight: bold;
  }

  .info {
    font-size: 16px;
    font-weight: bold;
  }

  .numbers a.active {
    font-size: 48px;
  }

  .thumbnail-container {
    display: none;
  }

  .bottom-info-container {
    width: 100%;
    margin-top: 2rem;
  }

  .bg-black {
    background: transparent;
  }
}

/* map */
.jqvmap-label {
  position: absolute;
  display: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #292929;
  color: white;
  font-family: sans-serif, Verdana;
  font-size: smaller;
  padding: 3px;
  pointer-events: none;
}

.jqvmap-pin {
  pointer-events: none;
}

#vmap {
  background-color: transparent !important;
}

.jqvmap-zoomin,
.jqvmap-zoomout {
  position: absolute;
  left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #000000;
  padding: 20px;
  color: white;
  display: none;
  width: 10px;
  height: 10px;
  cursor: pointer;
  line-height: 10px;
  text-align: center;
}

.jqvmap-zoomin {
  top: 0px;
}

.jqvmap-zoomout {
  top: 30px;
}

.jqvmap-region {
  cursor: pointer;
}

.jqvmap-ajax_response {
  width: 100%;
  height: 500px;
}
