@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: Poppins, "sans-serif";
}
:root {
  --font-63: 63px;
  --color-707070: #707070;
  --color-e31919: #e31919;
  --color-c6c6c6: #c6c6c6;
}
.mw-1002 {
  max-width: 1002px;
}
.mw-1148 {
  max-width: 1148px;
}
.mw-234 {
  max-width: 234px;
}
.mw-547 {
  max-width: 547px;
}
.color-086dac {
  color: var(--color-086dac);
}
.color-fff {
  color: var(--color-fff);
}
.color-000 {
  color: var(--color-000);
}
.color-707070 {
  color: var(--color-707070);
}
.color-e31919 {
  color: var(--color-e31919);
}
.color-c6c6c6 {
  color: var(--color-c6c6c6);
}
.color-2b2b2b {
  color: var(--color-2b2b2b);
}
.bg-2b2b2b {
  background: var(--color-2b2b2b);
}
.heading {
  font-weight: 700;
  font-size: var(--font-63);
}
.para {
  font-weight: 400;
  font-size: var(--font-18);
}
.form-heading {
  font-weight: 700;
  font-size: var(--font-42);
}
.address-heading {
  font-weight: 700;
  font-size: var(--font-22);
}
.address-para {
  font-weight: 500;
  font-size: var(--font-18);
}
.submit-btn {
  font-weight: 700;
  font-size: var(--font-18);
  color: var(--color-fff);
  background: var(--color-086dac);
  padding: 20px 45px;
}

input {
  border: 4px solid var(--color-fff);
  background: var(--color-2b2b2b);
}
input:focus-visible {
  box-shadow: none;
  outline: none;
}
::placeholder {
  color: var(--color-c6c6c6) !important;
}
